<% if request.post? %>

  <p>Total time before HTML is generated: <%= Time.now - @start_time %> s</p>
  <p>Memory used before HTML is generated: <%= @memory_used %> MB</p>

  <% if !@assemblies.empty? %>
    <% @assemblies.each do |a| %>
      <table>
        <thead>
          <tr>
            <th>Assembly Matches</th>
            <th><%= a.name %></th>
          </tr>
          <tr>
            <th>Matching Gene Name</th>
            <th>Matching DNA</th>
            <th>Percent Similarity</th>
          </tr>
        </thead>
        <tbody>
          <% a.hits.each do |h| %>
            <tr>
              <td><%= h.match_gene_name %></td>
              <td><%= h.match_gene_dna.first(100) %></td>
              <td><%= h.percent_similarity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <% if !@genes.empty? %>
    <% @genes.each do |g| %>
      <table>
        <thead>
          <tr>
            <th align="left">Gene Matches</th>
          </tr>
          <tr>
            <th>Matching Gene Name</th>
            <th>Matching DNA</th>
            <th>Percent Similarity</th>
          </tr>
        </thead>
        <tbody>
          <% g.hits.each do |h| %>
            <tr>
              <td><%= h.match_gene_name %></td>
              <td><%= h.match_gene_dna.first(100) %></td>
              <td><%= h.percent_similarity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <% if !@hits.empty? %>
    <table>
      <thead>
        <tr>
          <th align="left">Hits Matches</th>
        </tr>
        <tr>
          <th>Match Gene Name</th>
          <th>Percent Similarity</th>
          <th align="left">Match Gene DNA</th>
        </tr>
      </thead>
      <tbody>
        <% @hits.each do |h| %>
          <tr>
            <td><%= h.match_gene_name %></td>
            <td><%= h.percent_similarity %></td>
            <td><%= h.match_gene_dna.first(100) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <p>Total time after HTML is generated: <%= Time.now - @start_time %> s</p>
  <p>Memory used after HTML is generated: <%= memory_in_mb %> MB</p>
  
<% else %>
  <form method="post" action="/reports/search">
    <p>
      <label for="username">Search for something:  </label>
      <input type="text" id="name" name="name"></input>
      <button name="theButton">Search</button>
    </p>
  </form>
<% end %>
